/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define LOWER   1

/ {
	
	keymap {
		compatible = "zmk,keymap";

		default_layer {
		
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_NEXT C_PREV>;
			bindings = <
					&kp C_MUTE &ext_power EP_TOG   &kp PSCRN        &kp C_PP
					&tog LOWER &kp KP_SLASH        &kp KP_MULTIPLY  &kp KP_MINUS
			    &mt RGUI  L &kp N7     &kp N8              &kp N9  	        &kp KP_PLUS
			    &mt LCTRL X &kp N4     &kp N5              &kp N6
			    &mt LCTRL C &kp N1     &kp N2              &kp N3           &kp RETURN
			    &mt LCTRL V &kp N0		               &kp DOT
			>;
		};

		lower_layer {
		
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
			bindings = <
					&kp KP_NLCK &ext_power EP_TOG   &kp KP_NLCK &kp KP_NLCK
					&tog LOWER  &kp KP_SLASH        &kp KP_MULTIPLY &kp KP_MINUS
		     	    &kp KP_NLCK &kp HOME    &kp UP       	&kp PAGE_UP     &kp KP_PLUS
			    &bt BT_CLR  &kp LEFT    &none        	&kp RIGHT
			    &bt BT_PRV  &kp END     &kp DOWN     	&kp PAGE_DOWN   &kp RETURN
			    &bt BT_NXT  &kp INSERT	         	&kp DEL
			>;
		};
	};
};
